In [1]:
print('panda series')

panda series

In [4]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c']
mylist = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [9]:
pd.Series(data=mylist,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
salesQ1 = pd.Series(data=[250,450,200,150],index=['USA','China','India','Brazil'])

In [13]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [14]:
salesQ2 = pd.Series(data=[260,500,210,100],index=['USA','China','India','Japan'])

In [15]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [16]:
salesQ2['China']

500

In [17]:
salesQ2[0]

260

In [18]:
salesQ1 + salesQ2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64